body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: auto;
  background: url(bg.jpg);
  background-size: cover;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 50%;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1cm;
}
.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .inputBox {
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  letter-spacing: 2;
  background: transparent;
}
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 2;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box button[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  position: center;
  color: #ffffff;
  background-color: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0% 20%;
}
.box #cancel {
  background: transparent;
  border: none;
  outline: none;
  position: center;
  color: #ffffff;
  background-color: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 6.2cm;
  left: -0.3cm;
}
